@page
@model MediaGuide.Web.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<div class="row">
    <div class="col-12">
        <p>
            This project was conducted by a group of Armchair-loving listeners who want to create a
            dictionary of all the great media mentioned during Armchair Expert podcast episodes.
        </p>
        <p>
            All names, logos, images, and brands are property of their respective owners. This website has
            no
            affilication with Armchair Expert or Spotify. Notice of
            <a asp-area="" asp-page="/disclaimer">Non-Affiliation and Disclaimer</a>.
        </p>
        <p>
            Give us a shout at  hello@armchairmediaexplorer.com
        </p>
    </div>
</div>
