@page
@model DisclaimerModel
@{
    ViewData["Title"] = "Disclaimer Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This project is conducted by a group of Armchair-loving listeners who want to create a dictionary of all the great
    media mentioned during Armchair Expert podcast episodes. We are not affiliated, associated, endorsed by, or in any
    way officially connected with any other
    company, agency, government agency, Spotify or Armchair Expert.
</p>
<p>
    All product names, episodes, logos, person and company names are trademarks™ or registered® trademarks of their
    respective holders.
    Use of them
    does not imply any affiliation with or endorsement by them.
    All specifications are subject to change without notice.
</p>
<p>
    Podcast episode names, artwork and descriptions are provide by the <a
        href="https://developer.spotify.com/documentation/general/design-and-branding/#using-our-content"
        target="_blank" rel="nofollow">Spotify API following design and development guidelines</a>.
</p>
<p>
    The information provided by Armchair Expoert Media Explorer ("we," "us," or "our") on
    https://armchairmediaexplorer.com
    (the "Site") is for general informational purposes only. All information on the Site is provided in good faith,
    however
    we make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity,
    reliability, availability, or completeness of any information on the Site. UNDER NO CIRCUMSTANCE SHALL WE HAVE ANY
    LIABILITY TO YOU FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF THE SITE OR RELIANCE ON ANY
    INFORMATION PROVIDED ON THE SITE. YOUR USE OF THE SITE AND YOUR RELIANCE ON ANY INFORMATION ON THE SITE IS SOLELY AT
    YOUR OWN RISK.
</p>